body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

canvas {
    background-color: #d0e7ff; /* Un fondo de cielo azul claro */
    border: 2px solid #000;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}